/* SponsorOffersList.css */

body{
    background-color:blanchedalmond;
}
.sponsor-offers-list-container {
    padding: 20px;
}

.sponsor-offers-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.sponsor-offers-table th, .sponsor-offers-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.accept-btn, .reject-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.reject-btn {
    background-color: #f44336;
}
