/* ButtonContainer.css */

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between columns as needed */
    justify-content: center; /* Center the items horizontally */
    margin-top: 50px;
    padding: 32px;
}
.big-button {
    font-size: 18px;
    padding: 20px;
    width: 200px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.big-button:hover {
    background-color: #2980b9;
}
