/* Place this CSS in a separate stylesheet or include it in your React component */



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-select {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.filter-select option {
    background-color: #fff;
}

.venues-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.venue-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.venue-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.venue-details {
    padding: 10px 15px;
}

h2 {
    margin-top: 0;
}

.select-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.price {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.rating {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.star {
    color: #f39c12;
    margin-right: 5px;
    font-size: 24px;
}


.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}


.team-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 16px;
    margin: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-box:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-box.selected {
    background-color: #3498db;
    color: #fff;
    border-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-box strong {
    font-size: 1.2em;
    color: #333;
}

.team-box p {
    margin: 8px 0;
    color: #555;
}

/* Additional styles based on your preference */
