body{
    font-family :'Gill Sans MT';
    background-color: aliceblue;
    margin: 1em;
    margin-top: 10px;
}
.box{
    margin-left:10px;
    border-radius: 1em;
    border-style:double
}
.time{
    display: flex;
    justify-content: center;
}
.Line{
    margin: 10px;
}