.event-card{
color: brown;
background-color: blanchedalmond;
border-radius: 1em;
    border: dashed;
}
.event-time{
    display: flex;
    justify-content: space-evenly;

}
.select-venue-button {
    background-color: #3498db;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.select-venue-button:hover {
    background-color: #2980b9;
}

.go-agenda {
    background-color: #4caf50; /* Green color */
    color: white; /* Text color */
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.go-agenda:hover {
    background-color: #45a049; /* Darker green color on hover */
}


/* Your existing styles */

.go-expenses {
    background-color: #e74c3c; /* Red color */
    color: white; /* Text color */
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.go-expenses:hover {
    background-color: #c0392b; /* Darker red color on hover */
}

/* Your existing styles for other elements */

/* Updated styles for EventCard */
.event-card {
    display: inline-block;
    font-size: 18px;
    color: brown;
    background-color: blanchedalmond;
    border-radius: 1em;
    border: 2px solid #8b4513; /* Brown border color */
    margin: 12px;
    width: 60%;
    padding: 12px; /* Add padding for better spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: transform 0.3s ease-in-out;

}
.event-card:hover {
    transform: scale(1.05); /* Scale up on hover */
}

/* Additional styles for event details */
.event-details {
    margin-bottom: 10px;
}

.event-time {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}



/* Add more styles based on your preference */

.delete-button {
    background-color: #e74c3c; /* Red color */
    color: white; /* Text color */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: background-color 0.3s;
}

/* Delete button hover effect */
.delete-button:hover {
    background-color: #c0392b; /* Darker red color on hover */
}