

.venue-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.venue-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.venue-details {
    padding: 10px 15px;
}


h2 {
    margin-top: 0;
}

.select-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.price {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.rating {
    display: flex;
    align-items: center;
    margin: 10px 0px;

}

.star {
    color: #f39c12;
    margin-right: 5px;
    font-size: 24px ;
}